[Unit]
Description=Leech torrents as user %i
After=network.target network-online.target
Wants=network.target

[Service]
Type=simple
User=%i
EnvironmentFile=-/usr/etc/default/leechtorrents
EnvironmentFile=-/etc/default/leechtorrents
ExecStart=/usr/bin/bash -c 'if test -f ~/.config/leechtorrents-environment ; then source ~/.config/leechtorrents-environment ; fi ; exec leechtorrents $LEECHTORRENTS_OPTS'
Restart=on-failure
RestartSec=15s
RestartPreventExitStatus=2 4 6 200

[Install]
WantedBy=multi-user.target
