[Unit]
Description=Leech torrents as user %i
After=network.target network-online.target
Wants=network.target

[Service]
Type=simple
User=%i
EnvironmentFile=-/usr/etc/default/leechtorrents
EnvironmentFile=-/etc/default/leechtorrents
EnvironmentFile=-%h/.config/leechtorrents-environment
ExecStart=/usr/bin/env leechtorrents $LEECHTORRENTS_OPTS
Restart=on-failure
RestartSec=15s
RestartPreventExitStatus=2 4 6 200

[Install]
WantedBy=multi-user.target
